@model List<IdentityRole>
@using Microsoft.AspNetCore.Identity;
  
<h3>All roles -@Model.Count</h3>
<a class="btn btn-outline-success" href="/auth/addrole">Add New Role</a>

<ol>
@foreach(var role in Model)
    {
        <li>@role.Name</li>
    }
</ol>