@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@{
    int x = 3214234;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1 class="display-4">Welcome</h1>
    <h1 class="display-4">Welcome</h1>
    <h1 class="display-4">Welcome</h1>
    <h1 class="display-4">@x</h1>
</div>
