@model int[]

@{
    string[] names = { "Bishnu Rawal", "Bishnu1 Rawal", "Bishnu2 Rawal", "Bishnu3 Rawal", "Bishnu4 Rawal" };
    var evens = Model.Where(x => x % 2 == 0);
}

<h3>All Numbers</h3>
@foreach (int x in Model)
{
    <i class="display-1">@(x + " ")</i>
}

<h3>Evens</h3>
@foreach (int x in evens)
{
    <i class="display-1">@(x + " ")</i>
}

<h3>Odds</h3>



<h3>Dynamic</h3>
<ol>
    @foreach (string name in names)
    {
        <li>@name</li>
    }
</ol>

<h3>Static</h3>
<ol>
    <li>Bishnu Rawal</li>
    <li>Bishnu1 Rawal</li>
    <li>Bishnu2 Rawal</li>
    <li>Bishnu3 Rawal</li>
    <li>Bishnu4 Rawal</li>
</ol>
